* {
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  display: none;
}
.create-page {
  background-color: rgb(180, 180, 180);
  border: 5px black solid;
  width: 99.4%;
  min-height: 99.9%;
  max-height: 199.9%;
}
.paragraph-container {
  margin-top: 0.5rem;
  grid-column-end: span 4;
}
.grid {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 0.5fr);
  grid-template-rows: repeat(4, 0.23fr);
}
.input {
  margin: 1rem 0 0 1rem;
  background: #ccc;
  color: #333;
  transition: border-color 0.25s ease;
  width: 90%;
  height: 7.5%;
}
.content {
  width: 90%;
  height: 85%;
}
.title {
  width: 90%;
  height: 7.5%;
}
.create-page .card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;

  border: 5px black solid;
}
.character-image {
  width: 300px;
  height: 300px;
}
.origin,
.region,
.author,
.name,
.image {
  margin: 0.5rem 0.25rem 0 0;
}

.question {
  margin-top: 2rem;
}
.submit {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-left: 5vw;
  width: 30%;
  height: 75%;
  grid-row-end: 7;
  grid-column-end: 6;
  background: #ccc;
  border-top: black 2px solid;
  border-left: black 2px solid;
  border-bottom: rgb(75, 75, 75) 2px solid;
  border-right: rgb(75, 75, 75) 2px solid;
  color: #333;
  transition: border-color 0.25s ease;
}
.submit:hover {
  background-color: rgb(100, 100, 100);
}
@media only screen and (min-width: 375px) and (max-width: 425px) {
  .card-container {
    grid-row: 1/2;
  }
  .flash-inputs {
    grid-row: 2/3;
  }
  .paragraph-container {
    grid-column: 1/2;
  }
  .submit {
    margin-top: 1rem;
    margin-left: 10rem;
    width: 20vw;
    height: 5vh;
    grid-column: 1/2;
  }
}
